*{
    --size-max-width: 1440px;
    --size-grid-gap: 22px;
    min-width: 0;
}
html,
body {
  width: 100%;
  min-height: 100%;
}
html{
    font-family: 'Over Med', sans-serif;
    min-height: 100%;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #1D1D1D;
}
.content{
    padding: 40px 56px;
}

body{
    position: relative;
    background-color: #F2EAE2;
}

section{
    position: relative;
}
.container-wrapper{
    @media (min-width: 1025px){
        width: 1200px;
    }
    @media (max-width: 1280px){
        width: 1100px;
    }

    @media (max-width: 768px){
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}
img{

    height: 100%;
    display: block;
    user-select: none;
    object-fit: cover;
}

.content-paragraph{
    font-family: Libre, sans-serif;
    line-height: 1;
}
a{
    font-size: 1rem;
}
.section-container{
    margin: 0 8vw;
}
.max_width{
    max-width: var(--size-max-width);
    margin-inline: auto;
    padding-inline: var(--size-grid-gap);
}




  .link{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #EA451D;
        top: 100%;
        left: 0;
        pointer-events: none;
    }
    &:hover{
        &::before{
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
        }
    }
  }
  .link::before{
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  .link-alter{
    position: relative;
    &::before{
        transform-origin: left;
        transform: scaleX(1);
        transition: transform .55s cubic-bezier(.785,.135,.15,.86);
        transition-delay: .5s;
    }
    &::after{
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .55s cubic-bezier(.785,.135,.15,.86);
        transition-delay: 0s;
    }
    &:hover{
        &::before{
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .55s cubic-bezier(.785,.135,.15,.86);
            transition-delay: 0s;
        } 
        &::after{
            transform-origin: left;
            transform: scaleX(1);
            transition: transform .55s cubic-bezier(.785,.135,.15,.86);
            transition-delay: .2s;
        } 
    }
  }
  .link-alter::after, .link-alter::before{
    content: "";
    position: absolute;
    bottom: -0.2em;
    right: 0;
    left: 0;
    height: 0.05em;
    min-height: 1px;
    background-color: #1D1D1D;
  }
  .router-link-exact-active{

  }

  .small-link{

  }

