.text-orange{
    color: #EA451D;
}
h1{
   
    font-family: Over Bold, sans-serif;
    color:#EA451D;
    // font-size: 8rem;
    font-size: 18vw;
    line-height: .8;
    @media (min-width: 1280px){
        font-size: 20vw;
        line-height: .8;
        
    }
}
h2{
    font-family: Over Bold, sans-serif;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: center;
    font-size: 16vw;
    @media (min-width: 768px){
        font-size: 10vw;
    }
}
h3{
  
    font-size: 10vw;
    line-height: 0.5;
    @media (min-width: 768px){
        line-height: 0.75;
        font-size: 8vw;
    }
}
.sans-serif-bold{
    font-family: Over Bold, sans-serif;
}
.serif{
    font-family: Libre, sans-serif;
}
